{% extends 'templates/_default.njk' %}

{% block head %}
    <!-- build:css /assets/stylesheets/demo-style.min.css -->
    <link rel="stylesheet" href="/assets/stylesheets/demo-style.css" />
    <!-- endbuild -->
{% endblock %}

{% block main %}

    <p>test</p>


    <img src="/assets/images/demo-jpg.jpg" alt="JPG demo" class="img" />

    <p class="icon">
        <img src="/assets/images/demo-icon.svg" alt="SVG Icon" />
    </p>

{% endblock %}